body{
    background-image: url(https://preview.redd.it/badwslo9cr051.jpg?width=960&crop=smart&auto=webp&v=enabled&s=e34e0e429d7cf15be0d0bb2f70b4157dcba38fc9);

    
}
h1{
font-size: 50px;
position: absolute;
color: white;
mix-blend-mode: color-dodge;

}

.social{
    padding: 10px;
    position: absolute;
    left: 45%;
    top:50%;
    width: 150px;
    height:70px;
    border-radius: 10%;
    border-color: aliceblue;
    border-width: 5px;
    

}

.sociallink{
    font-size:20px;
    color:black;
}
